.role {
    font-size: 2rem;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid white;
    display: inline-block;
    width: 0;
    animation: 
        typing 10s,
        cursor .5s step-end infinite alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes cursor {
    50% { border-color: transparent; }
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

.cv-btn {
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.cv-btn:hover {
    transform: scale(1.05);
    background-color: #fa2d48;
}